<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Add a member</h2>
    <form action="/members" method="post">
        ID: <input type="text" name="id">
        Name: <input type="text" name="name">
        Email: <input type="text" name="email">
        <button type="submit">Add member</button>
    </form>
    <h2>Search member by email</h2>
    <form action="/search" method="get">
        Email: <input type="text" name="email">
        <button type="submit">Search</button>
    </form>
    <table>
        <tr>
            <th>Member ID</th>
            <th>Member Name</th>
            <th>Member Email</th>
        </tr>
        <tr th:if="${#lists.isEmpty(membersByMail)}">
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr th:if="${!#lists.isEmpty(membersByMail)}" th:each="member : ${membersByMail}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.email}"></td>
        </tr>
    </table>
    <h2>Search/Update member by ID</h2>
    <form action="/search" method="get">
        ID: <input type="text" name="id">
        <button type="submit">Search</button>
    </form>
    <div th:if="${!#lists.isEmpty(membersById)}" th:each="member : ${membersById}">
        <form action="/update" method="patch">
            <div th:text="${member.id}"></div>
            <div>
                <label th:text="${member.name}"></label>
                <input type="text" value="change name" name="name">
            </div>
            <div>
                <label th:text="${member.email}"></label>
                <input type="text" value="change email" name="email">
            </div>
            <button type="submit">Change</button>
        </form>
    </div>



</body>
</html>